{% extends "core/base.html" %}
{% load static %}


{% block main %}
<div class="row mt-5">
  <div class="container card">
      <div class="card-body">
          <h5 class="ml-3">Lista de produtos cadastrados</h5>
          <div class="container table-responsive-sm">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Peso</th>
                    <th>Preço</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody>
                {% for products in product %}
                  <tr>
                   <td>{{ products.name }}</td>
                   <td>{{ products.amount }}</td>
                   <td>{{ products.weight }}</td>
                   <td>{{ products.price }}</td>
                   <td><a href="{% url 'core_edit_product' products.id %}">
                         <i class="far fa-edit" style="color: #C5C801;"></i>
                       </a>
                       <a href="{% url 'core_delete_product' products.id %}"><i class="fas fa-trash" style="color: red;"></i></a>
                   </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
<div class="row mt-5"></div>
{% endblock %}