{% extends "core/base.html" %}
{% load static %}
{% block main %}

<div class="container mt-5">
  <div class="row">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{% static 'img/aron.JPG' %}" alt="Aron">
      <div class="card-body">
        <h4 class="card-title">Aron Madson</h4>
        <p>Estudante de sistemas de informação, apaixonado por tecnologia e amante da programação.</p>
        <p class="card-text">Github: github.com/ArondevIta</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5"></div>


{% endblock %}